<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Lisää tunti</title>
	<style>
		body {
		    background: url("https://cdn.pixabay.com/photo/2016/02/15/11/43/sport-1201014_1280.jpg")
		                no-repeat center center fixed;
		    background-size: cover;
		}
		input {
		  display: block;
		  padding: 10px 20px;
		}
		form {
		  max-width:800px;
		  
		}
		.center {
		    margin: auto;
		    width: 60%;
		    padding: 10px;
		}
		.buttonstyle {
		    background-color: white;
		    color: black;
		    border: 1px solid grey;
		}
	</style>
</head>
<body>
	<div class="container center">
		<form action="#" th:action="@{../tallennasuoritus}" th:object="${suoritus}" method="post" class=" w3-container w3-card-4 w3-light-grey w3-text-black w3-margin">
			<h1 th:text="#{lisaatunti.otsikko}">Lisää uusi tunti</h1>
			<br />
		  	
		  	<label for="laji" th:text="#{laji}">Laji: </label>
		  	<div class="w3-row w3-section">
			  <div class="w3-col" style="width:50px"></div>	
			    <div class="w3-rest">
			      <input class="w3-input w3-border" id="laji" th:field="${suoritus.laji}" type="text">
			      <div th:if="${#fields.hasErrors('laji')}" th:errors="${suoritus.laji}">Ei saa jättää tyhjäksi</div>
			    </div>
			</div>
			
			<label for="viikonpaivalista" th:text="#{paiva}">Viikonpäivä: </label>
			<div class="w3-row w3-section">
			  <div class="w3-col" style="width:50px"></div>	
			    <div class="w3-rest">
			      <select th:field="${suoritus.viikonpaiva}" class="form-control w3-input w3-border">
				  	<option th:each="viikonpaiva: ${paivat}" th:value="${viikonpaiva.viikonpaivaId}" th:text="${viikonpaiva.nimi}"></option>
				  </select>
			    </div>
			</div>
			
		  	<div style="clear: both; display: block; height: 10px;"></div>
		  	
		  	<label for="kulutus" th:text="#{kulutus}">Kulutus: </label>
		  	<div class="w3-row w3-section">
			  <div class="w3-col" style="width:50px"></div>	
			    <div class="w3-rest">
			      <input class="w3-input w3-border" id="kulutus" th:field="${suoritus.kulutus}" type="number">
			      <div th:if="${#fields.hasErrors('kulutus')}" th:errors="${suoritus.kulutus}">Täytyy olla numero, välillä 10-1000</div>
			    </div>
			</div>
			
			<label for="alkamisaika" th:text="#{alku}">Alkamisaika: </label>
		  	<div class="w3-row w3-section">
			  <div class="w3-col" style="width:50px"></div>	
			    <div class="w3-rest">
			      <input class="w3-input w3-border" id="alkamisaika" th:field="${suoritus.alkamisaika}" type="text" >
			      <div th:if="${#fields.hasErrors('alkamisaika')}" th:errors="${suoritus.alkamisaika}">Ei saa jättää tyhjäksi</div>
			    </div>
			</div>
			
			<label for="loppumisaika" th:text="#{loppu}">Loppumisaika: </label>
			<div class="w3-row w3-section">
			  <div class="w3-col" style="width:50px"></div>	
			    <div class="w3-rest">
			      <input class="w3-input w3-border" id="loppumisaika" th:field="${suoritus.loppumisaika}" type="text">
			      <div th:if="${#fields.hasErrors('loppumisaika')}" th:errors="${suoritus.loppumisaika}">Ei saa jättää tyhjäksi</div>
			    </div>
			</div>	
							
		  	<label for="paikkalista" th:text="#{paikka}">Paikka: </label>
		  	<div class="w3-row w3-section">
			  <div class="w3-col" style="width:50px"></div>	
			    <div class="w3-rest">
			      <select th:field="${suoritus.paikka}" class="form-control w3-input w3-border">
				     <option th:each="paikka: ${paikat}" th:value="${paikka.paikkaId}" th:text="${paikka.nimi}"></option>
				  </select>
			    </div>
			</div>
								
		  	<label for="tarjoajalista" th:text="#{tarjoaja}">Tarjoaja: </label>
		  	<div class="w3-row w3-section">
			  <div class="w3-col" style="width:50px"></div>	
			    <div class="w3-rest">
			      <select th:field="${suoritus.tarjoaja}" class="form-control w3-input w3-border">
				     <option th:each="tarjoaja: ${tarjoajat}" th:value="${tarjoaja.tarjoajaId}" th:text="${tarjoaja.nimi}"></option>
				  </select>
			    </div>
			</div>
			
		    <div style="padding:20px 0 20px 0">
				<input class="btn btn-success" type="submit" value="Tallenna" th:value="#{tallenna}"/>
				<a class="btn buttonstyle" href="/listaapaivat" th:text="#{takaisin}">Peruuta</a>
			</div>
		</form>
	</div>
</body>
</html>