<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Lista paikoista</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" href="css/tyyli.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<style>
		body {
			background-color:lightgrey;
		}
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#locales").change(function () {
                var selectedOption = $('#locales').val();
                if (selectedOption !== ''){
                    window.location.replace('listaapaivat?lang=' + selectedOption);
                }
            });
        });
    </script>
</head>
<body>
	<div class="container" style="width:80%">
		<div class="w3-bar w3-black row" style="margin-left:0;">
		  	<p th:inline="text" style="font-size:16px" sec:authorize="hasAuthority('USER')">[[${#httpServletRequest.remoteUser}]] kirjautuneena!</p>
		  	<form th:action="@{/logout}" method="post" sec:authorize="hasAuthority('USER')">
	            <input type="submit" value="Kirjaudu ulos" class="btn" />
	        </form> 
	        <p>kieli</p>
	    </div>
		<header class="w3-container w3-center w3-padding-32 w3-white"> 
		  <h1 class="w3-xxxlarge"><b>LIIKUNTATUNNIT</b></h1>
		  <p>Täältä voin tarkastella tunteja, joilla mahdollisesti haluaisin käydä </p>
		  <span class="w3-tag">xxx</span>
		</header>
	
		<div class="w3-bar w3-black row" style="margin-left:0">
			<a href="/listaapaivat" class="w3-bar-item w3-button">Tunnit päivittäin</a>
			<a href="/listaapaikat" class="w3-bar-item w3-button">Paikat</a>
			<a href="/lisaasuoritus" class="w3-bar-item w3-button">Lisää tunti</a>
			<a href="/lisaapaikka" class="w3-bar-item w3-button">Lisää paikka</a>
			<a href="/listaasuoritukset" class="w3-bar-item w3-button">Kaikki tunnit</a>
        </div>
        <div class="container" style="background-color:white; padding-top:20px; padding-bottom:5px;">
			<form>
				<table class="table table-striped">
					<tr>
						<th>Paikan nimi</th>
						<th></th>
						<th></th>
					</tr>
					<tr th:each = "paikka : ${paikat}">
						<td th:text = "${paikka.nimi}">nimi</td>
						<td><a class="btn btn-warning" th:href="@{/paivitapaikka/{id}(id=${paikka.paikkaId})}">Muokkaa</a></td>
						<td><a class="btn btn-danger" th:href="@{/poistapaikka/{id}(id=${paikka.paikkaId})}">Poista</a></td>   	 				
					</tr>
				</table>
			</form>
		</div>
	</div>
</body>
</html>