<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Päivitä paikka</title>
	<style>
		body {
		    background: url("https://cdn.pixabay.com/photo/2016/02/15/11/43/sport-1201014_1280.jpg")
		                no-repeat center center fixed;
		    background-size: cover;
		}
		input {
		  display: block;
		  padding: 10px 20px;
		}
		form {
		  max-width:800px;
		}
		.center {
		    margin: auto;
		    width: 60%;
		    padding: 10px;
		}
	</style>
</head>
<body>
	<div class="container center">
		<form action="#" th:action="@{../tallennapaikka}" th:object="${paivpaikka}" method="post" class=" w3-container w3-card-4 w3-light-grey w3-text-black w3-margin">
		  	<h1 th:text="#{paivpaikka.otsikko}">Päivitä liikuntapaikan nimi</h1>
		  	<br />
		  	<input type="hidden" th:field="${paivpaikka.paikkaId}" class="form-control"/>
		  	
		  	<label for="nimi" th:text="#{paikannimi}">Liikuntapaikan nimi: </label>
		  	<div class="w3-row w3-section">
			  <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-home"></i></div>	
			    <div class="w3-rest">
			      <input class="w3-input w3-border" id="nimi" th:field="${paivpaikka.nimi}"  type="text">
			    </div>
			</div>
		    
		    <div style="padding-top:20px" class="w3-center">
				<input class="btn btn-success" type="submit" value="Tallenna" th:value="#{tallenna}"/>
				<a class="btn btn-basic w3-section" href="/listaapaikat" th:text="#{takaisin}">Peruuta</a>
			</div>
		</form>

	</div>
</body>
</html>