<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Lista paikoista</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<style>
		body {
			    background: url("https://cdn.pixabay.com/photo/2016/02/15/11/43/sport-1201014_1280.jpg")
			                no-repeat center center fixed;
			    background-size: cover;
			}
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#locales").change(function () {
                var selectedOption = $('#locales').val();
                if (selectedOption !== ''){
                    window.location.replace('listaapaivat?lang=' + selectedOption);
                }
            });
        });
    </script>
</head>
<body>
	<div class="container" style="width:80%">
		<div class="w3-bar w3-black row" style="margin-left:0">
		  	<p th:inline="text" style="font-size:16px" sec:authorize="hasAuthority('USER')" >[[${#httpServletRequest.remoteUser}]] <span  th:text="#{kirj.user}">kirjautuneena!</span></p>
		  	<form th:action="@{/logout}" method="post" sec:authorize="hasAuthority('USER')" >
	            <input type="submit" value="Kirjaudu ulos" class="btn" th:value="#{kirj.ulos}"/>
	        </form>
	        <p th:inline="text" style="font-size:16px" sec:authorize="hasAuthority('ADMIN')" >[[${#httpServletRequest.remoteUser}]] <span  th:text="#{kirj.user}">kirjautuneena!</span></p>
		  	<form th:action="@{/logout}" method="post" sec:authorize="hasAuthority('ADMIN')">
	            <input type="submit" value="Kirjaudu ulos" class="btn" th:value="#{kirj.ulos}" />
	        </form> 
	        <div>
		        <span th:text="#{lang.change}"></span>:
				<select id="locales">
				    <option value=""></option>
				    <option value="en" th:text="#{lang.en}"></option>
				    <option value="fi" th:text="#{lang.fi}"></option>
				</select>
			</div>
	    </div>
		<header class="w3-container w3-center w3-padding-32 w3-white"> 
		  <h1 class="w3-xxxlarge" th:text="#{otsikko}"><b>LIIKUNTATUNNIT</b></h1>
		  <p th:text="#{subotsikko}">Täältä voin tarkastella tunteja, joilla mahdollisesti haluaisin käydä </p>
		  <span class="w3-tag">xxx</span>
		</header>
	
		<div class="w3-bar w3-black row" style="margin-left:0; align-items:center">
			<a href="/listaapaivat" class="w3-bar-item w3-button" th:text="#{listaapaivat}">Tunnit päivittäin</a>
			<a href="/listaapaikat" class="w3-bar-item w3-button" th:text="#{listaapaikat}">Paikat</a>
			<a href="/lisaasuoritus" class="w3-bar-item w3-button" th:text="#{lisaatunti}">Lisää tunti</a>
			<a href="/lisaapaikka" class="w3-bar-item w3-button" th:text="#{lisaapaikka}">Lisää paikka</a>
			<a href="/listaasuoritukset" class="w3-bar-item w3-button" th:text="#{kaikkitunnit}">Kaikki tunnit</a>
        </div>
        <div class="container" style="background-color:white; padding-top:20px; padding-bottom:15px; text-align:center">
			<span th:each = "paiva : ${paivat}">
				<a class="btn btn-success" th:href="@{/listaatunnit/{id}(id=${paiva.viikonpaivaId})}" th:text="${paiva.nimi}" style="width:100px; text-align:center; margin:Auto"></a>
			</span>
			<br /><br />
			<img src="https://cdn.pixabay.com/photo/2017/08/01/22/44/people-2568410_1280.jpg" alt="jooga" style="width:355px;height:210px;margin-right:15px">
			<img src="https://cdn.pixabay.com/photo/2017/01/03/08/02/weights-1948837_1280.jpg" alt="pilates" style="width:355px;height:210px">
		</div>
	</div>
</body>
</html>