<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Lista tunneista</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<style>
		body {
			background-color:lightgrey;
		}
	</style>

</head>
<body>
	<div class="container center" style="width:80%">
		<div class="w3-bar w3-black row" style="margin-left:0; align-content:left">
		  	<p th:inline="text" style="font-size:16px" sec:authorize="hasAuthority('USER')" >[[${#httpServletRequest.remoteUser}]] <span  th:text="#{kirj.user}">kirjautuneena!</span></p>
		  	<form th:action="@{/logout}" method="post" sec:authorize="hasAuthority('USER')">
	            <input type="submit" value="Kirjaudu ulos" class="btn" th:value="#{kirj.ulos}"/>
	        </form>
	    </div>
		<header class="w3-container w3-center w3-padding-32 w3-white"> 
		  <h1 class="w3-xxxlarge" th:text="#{otsikko}"><b>LIIKUNTATUNNIT</b></h1>
		  <p th:text="#{subotsikko}">Täältä voin tarkastella tunteja, joilla mahdollisesti haluaisin käydä </p>
		  <span class="w3-tag">xxx</span>
		</header>
		<div class="w3-bar w3-black row" style="margin-left:0">
			<a href="/listaapaivat" class="w3-bar-item w3-button" th:text="#{listaapaivat}">Tunnit päivittäin</a>
			<a href="/listaapaikat" class="w3-bar-item w3-button" th:text="#{listaapaikat}">Paikat</a>
			<a href="/lisaasuoritus" class="w3-bar-item w3-button" th:text="#{lisaatunti}">Lisää tunti</a>
			<a href="/lisaapaikka" class="w3-bar-item w3-button" th:text="#{lisaapaikka}">Lisää paikka</a>
			<a href="/listaasuoritukset" class="w3-bar-item w3-button" th:text="#{kaikkitunnit}">Kaikki tunnit</a>
        </div>
        <div class="w3-container" style="background-color:white; padding-top:20px">
			<form>
				<table class="table table-striped">
					<tr>
						<th th:text="#{laji}">Laji</th>
						<th th:text="#{paiva}">Viikonpäivä</th>
						<th th:text="#{alku}">Alkamisaika</th>
						<th th:text="#{loppu}">Loppumisaika</th>
						<th th:text="#{paikka}">Paikka</th>
						<th th:text="#{tarjoaja}">Tarjoja</th>
						<th></th>
						<th></th>
					</tr>
					<tr th:each = "suoritus : ${suoritukset}">
						<td th:text = "${suoritus.laji}">laji</td>
						<td th:text = "${suoritus.alkamisaika}">alkamis</td>
						<td th:text = "${suoritus.loppumisaika}">loppumis</td>
						<td th:text = "${suoritus.paikka.nimi}">paikka</td>
						<td th:text = "${suoritus.tarjoaja.nimi}">tarjoaja</td>
						<td><a class="btn btn-warning" th:href="@{/paivitasuoritus/{id}(id=${suoritus.id})}" th:text="#{muokkaa}">Muokkaa</a></td>
						<td><a class="btn btn-danger" th:href="@{/poistasuoritus/{id}(id=${suoritus.id})}" th:text="#{poista}">Poista</a></td>    
		 				
					</tr>
				</table>
			</form>
			
		</div>
	</div>
</body>
</html>